.main{
    border:2px solid green;
    padding:10px;
    /* height: 500px; */
    margin: auto;
}

.main>table{
    /* width:400px;
    height:400px; */

    margin :auto;
}

.yellow{
    background-color: yellow;
}
.blue{
    background-color: aqua;
}